.finished {
  text-decoration: line-through;
  background-color: gray;
}

.unfinished {
  text-decoration: none;
}

.item {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
